<%= form_for @workout do |f| %>
    <div>
      <%= f.label :workout_datetime %>
      <%= f.datetime_select :workout_datetime, {order: [:month, :day, :year], ampm: true, default: DateTime.now - 1.hour}, {required: true} %>
    </div>
    <div>
      <%= f.label :gym %>
      <%= collection_select(:workout, :gym_id, current_user.gyms, :id, :name, selected: current_user.gyms.default.try(:id)) %>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end %>
