<%= form_for @workout do |f| %>
    <div>
      <%= f.label :workout_datetime %>
      <%= @workout.workout_datetime %>
    </div>
    <div>
      <%= label_tag :gym %>
      <%= @workout.gym.name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= @workout.description %>
    </div>
    <div>
      <%= f.label :result %>
      <%= f.text_field :result %>
    </div>
    <div>
      <%= f.label :lift_type %>
      <%= f.text_field :lift_type %>
    </div>
    <div>
      <%= f.label :lift_weight %>
      <%= f.number_field :lift_weight %>
    </div>
    <div>
      <%= f.label :lift_rep_scheme %>
      <%= f.text_field :lift_rep_scheme %>
    </div>


    <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>


<% end %>