

<%= render 'search' %> | <%= link_to "View All Workouts", workouts_path(id: "all") %>
<br>

<ul>

<% @workouts.each do |workout| %>
	<li> <%= link_to workout.workout_datetime.to_date.to_formatted_s(:long_ordinal), workout %> 
		| <%= workout.lift_type %> | <%= workout.result %> </li>
<% end %>

</ul>