<h1 class="page_title"> The workout for <%= @workout.workout_datetime.to_date.to_formatted_s(:long_ordinal) %> </h1>

<h3> Gym: <%= @workout.gym.name %> </h3>

<p> Workout: <%= @workout.description %> </p>
<p> Result: <%= @workout.result %> </p>
<p> Lift Type: <%= @workout.lift_type %> </p>
<p> Lift Weight: <%= @workout.lift_weight %> </p>
<p> Lift Rep Scheme: <%= @workout.lift_rep_scheme %> </p>
<%= link_to "Delete Workout", workout_path(@workout), method: 'delete' %>

<% if @workout.fitbit_heart_rate? %>
<% @data = eval(@workout.fitbit_heart_rate.gsub('=>',":")) %>
<% @time = @data.map{|time| time[:time]} %>
<% @heart_rate = @data.map{|value| value[:value]} %>

<p> <%= @heart_rate %> </p>
<p> <%= @time %> </p>
<% end %>
<br>
<%= link_to "Edit Workout",edit_workout_path(@workout) %> | 

%canvas#canvas{:height => "450", :width => "600"}