<h1> The workout for <%= @workout.workout_datetime.to_date.to_formatted_s(:long_ordinal) %> </h1>

<h3> Gym: <%= @workout.gym.name %> </h3>

<p> Workout: <%= @workout.description %> </p>
<p> Result: <%= @workout.result %> </p>
<p> Lift Type: <%= @workout.lift_type %> </p>
<p> Lift Weight: <%= @workout.lift_weight %> </p>
<p> Lift Rep Scheme: <%= @workout.lift_rep_scheme %> </p>

<%= link_to "Log New Workout",new_workout_path %> | 
<%= link_to "Edit Workout",edit_workout_path(@workout) %> | 
<%= link_to "View All Workouts", workouts_path(id: "all") %>
