<div class="row">
  <div class="col-md-12">
    <h1 class="page_title"> Gyms </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="table-responsive">
      <table class="table table-hover view_workouts">
        <tr>
          <td class="table_title" style="text-align:center; border-top: none !important;"> Gym Name </td>
          <td class="table_title" style="text-align:left; border-top: none !important;"> Link </td> 
          <td class="table_title" style="text-align:left; border-top: none !important;"> Default </td>
          <td class="table_title" style="text-align:center; border-top: none !important;"> </td>
        </tr>
        <% @gyms.each do |gym| %>
          <tr>
            <td style="text-align:center;">
              <%= link_to gym.name, gym_path(gym) %>
            </td>
            <td> 
               <%= link_to gym.workout_url, gym.workout_url %>
            </td>
            <td>
                <%= gym.default.to_s.capitalize %>
            </td>
            <td style="text-align:center;">
              <%= link_to "X", gym_path(gym), method: 'delete' %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="row">
        <div class="col-xs-10">
          <%= link_to "Add New Gym", new_gym_path, :class =>"btn btn-md button_grey" %>
        </div>
      </div>   
    </div>
  </div>
</div>
